<!DOCTYPE html>
    <head>
        <title>Movie Nominations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class='nav'>
            <h1>Movie Nominations</h1>
        </div>
        <p class="sub-head">Search and Nominate your favourite movies</p>
        <div class="container" data-behaviour="vue">
            <% yield %>

            <app></app>
        </div>
    </body>
</html>
