body {
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), image-url('background.jpg');
    background-size: cover;
}

.nav {
    color: wheat;
    background-color: darkslategrey;
    text-align: center;
    margin: auto 0;
}

.nav h1 {
    font-weight: normal;
    margin: 0;
    padding: 15px 10px;
}

.sub-head {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}